<div class="standings-table" *ngIf="standings">
  <table class="table table-borderless">
    <thead>

      <tr>

        <!-- <th *ngFor="let h of th" scope="col">{{h}}</th> -->
        <th scope="col"></th>
        <th scope="col">POS</th>
        <th scope="col"></th>
        <th scope="col">MP</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">GF</th>
        <th scope="col">GA</th>
        <th scope="col">GD</th>
        <th scope="col">PTS</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody [@listAnimation]="standings.length">
      <tr *ngFor="let s of standings">
        <td *ngFor="let td of s">{{td.replace('ES11® ','')}}</td>
      </tr>
    </tbody>
  </table>
</div>
