table {
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  letter-spacing: 4px;

  thead {
    background: rgba(0, 0, 0, 0.9);
    color: #f2f2f2;
  }

  tbody {
    tr {
      color: #f2f2f2;
      background: rgba(0, 0, 0, 0.45);
    }

    tr:nth-child(even) {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}
